.banpick__body {
	margin-top: 20px;
	display: flex;
	width: 100vw;
	height: 60vh;
}

.banpick__body-left,
.banpick__body-right {
	width: 25%;
	height: 100%;
}

.banpick__body-middle {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 100%;
	border: 1px solid;
	margin: 0px 5%;
	overflow: auto;
}

.banpick__body__champ-info {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 20%;
	border: 1px solid;
	align-items: center;
}

.banpick__body__champ-info .banpick__champ-role,
.banpick__body__champ-info .banpick__champ-name,
.banpick__body__champ-info .banpick__champ-img {
	width: 33%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.banpick__body__champ-info img {
	width: 50%;
	height: 50%;
}

.banpick__body-middle__selections {
	height: 50px;
	display: flex;
	align-items: center;
}

.banpick__body-middle__role-op {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.banpick__body-middle__role-op div {
	height: 100%;
	margin-right: 15px;
}

.banpick__body-middle__role-op div img {
	width: 50px;
	height: 50px;
}

.banpick__body-middle__champions {
	display: flex;
	flex-direction: column;
}

.banpick__body-middle__sort-op {
	margin-left: 60px;
	margin-right: 20px;
}
.banpick__body-middle__champs-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 640px;
	height: 100px;
}

.banpick__body-middle__champ {
	width: 80px;
	height: 80px;
	border: 1px solid;
}
