@keyframes rotate_img {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.banpick__body {
	position: relative;
	margin-top: 20px;
	display: flex;
	width: 100vw;
	height: 60vh;
}

.banpick__body__bg-image {
	position: absolute;
	width: 50%;
	height: 120%;
	left: 25%;
	top: -10%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	z-index: -1;
}

.banpick__body__bg-image img {
	width: 100%;
	height: 100%;
	filter: blur(1px);
	opacity: 0.6;
}
.banpick__body-left,
.banpick__body-right {
	width: 25%;
	height: 100%;
}

.banpick__body-middle {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 100%;
	margin: 0px 5%;
	border-bottom: 1px solid #5b5a55;
}

.banpick__body__champ-info {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: normal;
	width: 100%;
	height: 20%;
	border-image: linear-gradient(to left, transparent 0%, goldenrod 100%);
	border-image-slice: 1;
	border-top: 2px solid;
	align-items: center;
}

.banpick__body__champ-info:last-of-type {
	border-bottom: 2px solid;
}

.banpick__body-right .banpick__body__champ-info {
	border-image: linear-gradient(to right, transparent, red 100%);
	border-image-slice: 1;
}

.banpick__body__champ-info .banpick__champ-img {
	width: 72.38px;
	height: 80%;
	border-radius: 50%;
	margin: 0px 20px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
	background-color: #162022;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

/*첫 번째 밴픽 이미지 예시*/
.banpick__body-left .banpick__body__champ-info:first-of-type .banpick__champ-img {
	background-image: url('https://ddragon.leagueoflegends.com/cdn/14.3.1/img/champion/Smolder.png');
}

.banpick__ring-img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 105%;
	height: 105%;
	position: absolute;
}

.banpick__body-left .banpick__ring-img {
	background-image: url('https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-champ-select/global/default/images/summoner-object/player-object-m.png');
}

.banpick__body-right .banpick__ring-img {
	background-image: url('https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-champ-select/global/default/images/summoner-object/player-object-m-red.png');
}

/*첫 번째 밴픽 링 돌아가는거 예시*/
.banpick__body-left .banpick__body__champ-info:first-of-type .banpick__ring-img {
	background-image: url('https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-champ-select/global/default/images/summoner-object/player-object-spinner-gold.png');
	width: 125%;
	height: 125%;
	animation: rotate_img 1s linear infinite;
}

.banpick__champ-text {
	width: 40%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.banpick__body-left .banpick__champ-text {
	align-items: flex-start;
}
.banpick__body-right .banpick__champ-text {
	align-items: flex-end;
}

.banpick__champ-text .banpick__text-line {
	font-size: 14px;
	margin-bottom: 5px;
}

.banpick__champ-text .banpick__text-champion {
	font-size: 18px;
	font-weight: 600;
}

.banpick__body-middle__selections {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #5b5a55;
}
.banpick__body-middle__role-op {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.banpick__body button {
	border: none;
	background-color: inherit;
}

.banpick__body-middle__role-op button {
	height: 100%;
	margin-right: 15px;
	width: 40px;
	height: 40px;
}

.banpick__body-middle__role-op button img {
	width: 100%;
	height: 100%;
}

.banpick__body-middle__search-op {
	width: 40%;
	height: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #5b5a55;
}

.banpick__body-middle__search-op img {
	width: 20px;
	height: 20px;
	opacity: 0.5;
	margin: 0px 5px;
}

.banpick__body-middle__search-op input {
	width: 100%;
	height: 100%;
	background-color: transparent;
	border: none;
	color: #5b5a55;
}

.banpick__body-middle__champions {
	display: flex;
	flex-direction: column;
	overflow: auto;
}

.banpick__body-middle__champions::-webkit-scrollbar {
	background-color: inherit;
	width: 4px;
}

.banpick__body-middle__champions::-webkit-scrollbar-thumb {
	background-color: #68512f;
	border-radius: 5px;
}

.banpick__body-middle__champs-row {
	display: flex;
	align-items: center;
	width: 640px;
	height: 100px;
}

.banpick__body-middle__champ {
	display: flex;
	width: 80px;
	height: 80px;
	margin: 12px 12px;
}

.banpick__body-middle__champ img {
	width: 100%;
	height: 100%;
	border: 2px double #5b5a55;
}

.banpick__body__champ-info video {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
