.role-op__top-disabled {
	background-image: url('https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-clash/global/default/assets/images/position-selector/positions/icon-position-top-disabled.png');
}
.role-op__jungle-disabled {
	background-image: url('https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-clash/global/default/assets/images/position-selector/positions/icon-position-jungle-disabled.png');
}
.role-op__mid-disabled {
	background-image: url('https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-clash/global/default/assets/images/position-selector/positions/icon-position-middle-disabled.png');
}
.role-op__adc-disabled {
	background-image: url('https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-clash/global/default/assets/images/position-selector/positions/icon-position-bottom-disabled.png');
}
.role-op__support-disabled {
	background-image: url('https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-clash/global/default/assets/images/position-selector/positions/icon-position-utility-disabled.png');
}

.role-op__top-hover {
	background-image: url('https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-clash/global/default/assets/images/position-selector/positions/icon-position-top-hover.png');
}
.role-op__jungle-hover {
	background-image: url('https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-clash/global/default/assets/images/position-selector/positions/icon-position-jungle-hover.png');
}
.role-op__mid-hover {
	background-image: url('https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-clash/global/default/assets/images/position-selector/positions/icon-position-middle-hover.png');
}
.role-op__adc-hover {
	background-image: url('https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-clash/global/default/assets/images/position-selector/positions/icon-position-bottom-hover.png');
}
.role-op__support-hover {
	background-image: url('https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-clash/global/default/assets/images/position-selector/positions/icon-position-utility-hover.png');
}

.champ-selected {
	filter: grayscale(100%);
}

.champ-selected__border {
	border: 2px solid #ccbe91;
}

.champ-banned__border {
	border: 2px solid #c5223d;
}

.champ-hover-selected__border {
	border: 2px solid #ccbe91;
}

.champ-hover-banned__border {
	border: 2px solid #c5223d;
}

.champ-block-pointer {
	pointer-events: none;
}

.banpick__red-box {
	width: 10px;
	height: 100%;
	background-color: #c5223d;
}

.banpick__blue-box {
	width: 10px;
	height: 100%;
	background-color: #19c5e1;
}

.banpick__ring-img-rotate-blue {
	background-image: url('https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-champ-select/global/default/images/summoner-object/player-object-spinner-blue.png');
	width: 125%;
	height: 125%;
	animation: rotate_img 1s linear infinite;
	position: absolute;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 2;
}

.banpick__ring-img-rotate-red {
	background-image: url('https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-champ-select/global/default/images/summoner-object/player-object-spinner-red.png');
	width: 120%;
	height: 120%;
	animation: rotate_img 1s linear infinite;
	position: absolute;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 2;
}

.display-none {
	display: none;
}
