@keyframes barDecrease {
	from {
		transform: scaleX(1);
	}
	to {
		transform: scaleX(0);
	}
}

.banpick__header-middle__left-bar {
	background: linear-gradient(to left, red 0%, white 100%);
	transform-origin: right center;
}
.banpick__header-middle__right-bar {
	background: linear-gradient(to right, red 0%, white 100%);
	transform-origin: left center;
}
.bar-decrease-30 {
	animation: barDecrease 30s linear;
}
