@keyframes rotate_img {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.banpick__body {
	margin-top: 20px;
	display: flex;
	width: 100vw;
	height: 60vh;
}

.banpick__body button {
	border: none;
	background-color: inherit;
}

.banpick__body-left,
.banpick__body-right {
	width: 25%;
	height: 100%;
}

.banpick__body-middle {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 100%;
	margin: 0px 5%;
	border-bottom: 1px solid #5b5a55;
}

.banpick__body__champ-info {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: normal;
	width: 100%;
	height: 20%;
	border-image: linear-gradient(to left, transparent 0%, #19c5e1 100%);
	border-image-slice: 1;
	border-top: 2px solid;
	align-items: center;
}

.banpick__body__champ-info:last-of-type {
	border-bottom: 2px solid;
}

.banpick__body-right .banpick__body__champ-info {
	border-image: linear-gradient(to right, transparent, #c5223d 100%);
	border-image-slice: 1;
}

.banpick__body__champ-info .banpick__champ-img {
	width: 72.38px;
	height: 80%;
	border-radius: 50%;
	margin: 0px 20px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background-size: 40px 40px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #162022;
}

.banpick__body-left .banpick__body__champ-info:first-child .banpick__champ-img {
	background-image: url('https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-parties/global/default/icon-position-top-blue.png');
}
.banpick__body-left .banpick__body__champ-info:nth-child(2) .banpick__champ-img {
	background-image: url('https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-parties/global/default/icon-position-jungle-blue.png');
}
.banpick__body-left .banpick__body__champ-info:nth-child(3) .banpick__champ-img {
	background-image: url('https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-parties/global/default/icon-position-middle-blue.png');
}
.banpick__body-left .banpick__body__champ-info:nth-child(4) .banpick__champ-img {
	background-image: url('https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-parties/global/default/icon-position-bottom-blue.png');
}
.banpick__body-left .banpick__body__champ-info:nth-child(5) .banpick__champ-img {
	background-image: url('https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-parties/global/default/icon-position-utility-blue.png');
}

.banpick__body-right .banpick__body__champ-info:first-child .banpick__champ-img {
	background-image: url('https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-parties/global/default/icon-position-top-red.png');
}
.banpick__body-right .banpick__body__champ-info:nth-child(2) .banpick__champ-img {
	background-image: url('https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-parties/global/default/icon-position-jungle-red.png');
}
.banpick__body-right .banpick__body__champ-info:nth-child(3) .banpick__champ-img {
	background-image: url('https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-parties/global/default/icon-position-middle-red.png');
}
.banpick__body-right .banpick__body__champ-info:nth-child(4) .banpick__champ-img {
	background-image: url('https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-parties/global/default/icon-position-bottom-red.png');
}
.banpick__body-right .banpick__body__champ-info:nth-child(5) .banpick__champ-img {
	background-image: url('https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-parties/global/default/icon-position-utility-red.png');
}

.banpick__ring-img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 102%;
	height: 102%;
	position: absolute;
}

.banpick__body-left .banpick__ring-img {
	background-image: url('https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-champ-select/global/default/images/summoner-object/player-ring-bright-blue.png');
	opacity: 0.8;
}

.banpick__body-right .banpick__ring-img {
	background-image: url('https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-champ-select/global/default/images/summoner-object/player-ring-bright-red.png');
	opacity: 0.8;
}

.banpick__champ-text {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.banpick__body-left .banpick__champ-text {
	align-items: flex-start;
}
.banpick__body-right .banpick__champ-text {
	align-items: flex-end;
}

.banpick__champ-text .banpick__text-line {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 5px;
}

.banpick__champ-text .banpick__text-champion {
	font-size: 16px;
	font-weight: 600;
}

.banpick__body-middle__selections {
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #5b5a55;
}
.banpick__body-middle__role-op {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.banpick__body-middle__role-op button {
	height: 100%;
	margin-right: 15px;
	margin-bottom: 5px;
	width: 35px;
	height: 35px;
	background-repeat: no-repeat;
	background-size: cover;
}

.banpick__body-middle__search-op {
	width: 40%;
	height: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #5b5a55;
}

.banpick__body-middle__search-op img {
	width: 20px;
	height: 20px;
	opacity: 0.5;
	margin: 0px 5px;
}

.banpick__body-middle__search-op input {
	width: 100%;
	height: 100%;
	background-color: transparent;
	border: none;
	color: rgba(255, 255, 255, 0.7);
	outline: none;
}

.banpick__body-middle__champions {
	display: flex;
	flex-direction: column;
	overflow: auto;
}

.banpick__body-middle__champions::-webkit-scrollbar {
	background-color: inherit;
	width: 4px;
	height: 4px;
}

.banpick__body-middle__champions::-webkit-scrollbar-thumb {
	background-color: #68512f;
	border-radius: 5px;
}

.banpick__body-middle__champs-row {
	display: flex;
	align-items: center;
	width: 640px;
	height: 100px;
}

.banpick__body-middle__champ {
	display: flex;
	flex-direction: column;
	width: 105px;
	height: 105px;
	justify-content: center;
	align-items: center;
}

.banpick__body-middle__champ span {
	margin-top: 5px;
	font-size: 14px;
	color: rgba(128, 128, 128, 1);
}

.banpick__body-middle__champ-img-box {
	display: flex;
	width: 60px;
	height: 60px;
	border: 2px double #5b5a55;
}

.banpick__body-middle__champ-img-box img {
	width: 100%;
	height: 100%;
}

.banpick__body__champ-info video {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
