/*첫 번째 밴픽 이미지 예시*/
.banpick__body-left .banpick__body__champ-info:first-of-type .banpick__champ-img {
	background-image: url('https://ddragon.leagueoflegends.com/cdn/14.3.1/img/champion/Smolder.png');
}

/*첫 번째 밴픽 링 돌아가는거 예시*/
.banpick__body-left .banpick__body__champ-info:first-of-type .banpick__ring-img {
	background-image: url('https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-champ-select/global/default/images/summoner-object/player-object-spinner-gold.png');
	width: 125%;
	height: 125%;
	animation: rotate_img 1s linear infinite;
}

/* 
<video
						src="https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-champ-select/global/default/video/summoner-object/summoner-object-magic-action-gold-idle.webm"
						autoplay
						loop
						muted
					></video>

*/
