@keyframes barDecrease {
	from {
		transform: scaleX(1);
	}
	to {
		transform: scaleX(0);
	}
}

.banpick__header-middle__left-bar {
	background: linear-gradient(to left, rgb(164, 1, 1) 0%, rgb(235, 189, 189) 100%);
	transform-origin: right center;
}
.banpick__header-middle__right-bar {
	background: linear-gradient(to right, rgb(164, 1, 1) 0%, rgb(235, 189, 189) 100%);
	transform-origin: left center;
}

.banpick__header-middle__left-bar-blue {
	background: linear-gradient(to left, #015a81 0%, #9bd5de 100%);
	transform-origin: right center;
}

.bar-decrease-30 {
	animation: barDecrease 31s linear forwards;
	animation-delay: 0.3s;
}

.bar-decrease-15 {
	animation: barDecrease 15s linear forwards;
	animation-delay: 0.3s;
}
