.banpick__header {
	margin-top: 20px;
	height: 50px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Noto Sans KR', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

.banpick__header-left,
.banpick__header-right {
	width: 18%;
	display: flex;
	align-items: center;
}

.banpick__header-middle {
	width: 50%;
}

.banpick__champ-img {
	display: flex;
	justify-content: center;
	align-items: center;
}

.banpick__header .banpick__champ-img {
	border: 1.5px solid gray;
	opacity: 0.4;
	margin: 5px;
	background-color: black;
	width: 40px;
	height: 40px;
}

.banpick__header .banpick__champ-img img {
	width: 100%;
	height: 100%;
}

.banpick__header-middle {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: 20px;
	font-weight: 600;
}

.banpick__header-middle__top {
	font-size: 25px;
	font-weight: 700;
	margin-bottom: 2px;
}

.banpick__header-middle__num-count {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
}
.banpick__header-middle__num-count span {
	font-size: 30px;
}
.banpick__header-middle__bottom {
	display: flex;
}

.banpick__header-middle__bar-box {
	margin: 10px;
	width: 20vw;
	height: 5px;
	display: flex;
	position: relative;
	background-color: rgba(48, 50, 48, 0.7);
}

.banpick__header-middle__left-bar,
.banpick__header-middle__right-bar {
	height: 100%;
	width: 100%;
	position: absolute;
}
