@import 'banpick-header.css';
@import 'banpick-body.css';
@import 'banpick-footer.css';
@import 'banpick-header-action.css';
@import 'banpick-body-action.css';
@import 'banpick-footer-action.css';

/* font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

body {
	background-image: url('https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-clash/global/default/assets/images/background/background-worlds2023.jpg');
	background-size: 100vw 100vh;
	color: white;
}
